apiVersion: apps/v1
kind: Deployment
metadata:
  name: my-java-app
  labels:
    app: my-java-app
spec:apiVersion: apps/v1
kind: Deployment
metadata:
  name: tele-rare-backend
  labels:
    app: tele-rare-backend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: tele-rare-backend
  template:
    metadata:
      labels:
        app: tele-rare-backend
    spec:
      containers:
        - name: tele-rare-backend
          image: pritamshende/tele-rare-backend:0c57cb8c818991121f1e246af190fcab71a0330c
          ports:
            - containerPort: 8080

  replicas: 2
  selector:
    matchLabels:
      app: my-java-app
  template:
    metadata:
      labels:
        app: my-java-app
    spec:
      containers:
        - name: my-java-app
          image: pritamshende/tele-rare-backend:0c57cb8c818991121f1e246af190fcab71a0330c
          ports:
            - containerPort: 8080
---
apiVersion: v1
kind: Service
metadata:
  name: my-java-app
spec:
  type: ClusterIP
  selector:
    app: my-java-app
  ports:
    - port: 80
      targetPort: 8080 
